h1 {
	font-family: 'Lobster', cursive;
	color: #85411D;
	text-shadow: #FF8100 1px 1px, #FF8100 -1px 1px, #FF8100 -1px -1px, #FF8100 1px -1px;
	text-align: center;
}

h2 {
	font-family: 'Lobster', cursive;
	color: #85411D;
	text-shadow: #FF8100 1px 1px, #FF8100 -1px 1px, #FF8100 -1px -1px, #FF8100 1px -1px;
	font-size: 28px;
	text-align: center;
}
.navbar-brand{
	font-family: 'lobster', "times new roman";
	font-size: 40px;
	padding-top: 30px;
}
.navbar{
	font-size: 20px;
	height: 100px;
}
body { 
	padding-top: 120px;
	background: #99CD2C;
}

@media all and (max-width: 768px){

	#logo{
		display: none;
	}

	.carousel-inner{
		padding-left: 0px;
	}
}

/* Retirer les bordures des images */

.thumbnail{
	text-align: center;
	border: 0px;
	background: none;
	font-size: 22px;
}
.carousel-control.left {
    background-image: none;
    filter: none;
    background-repeat: none;
}
.carousel-control.right {
    background-image: none;
    filter: none;
    background-repeat: none;
}

#accordion{
	text-align: center;
}
.nav>li.burger {
	padding: 15px;
	cursor: pointer; 
	display: inline;
	font-family: 'lobster', "times new roman";
	font-size: 30px;

}
.youpi{
	text-align: center;
}

.prix{
	text-align: right;
	font-size: 17px;

}

.plat {
	font-size: 17px;
}

.panel{
	background-color: #efe923;
}

.headtitle{
	font-family: 'lobster', "times new roman";
	font-size: 35px;
}

@media all and (max-width: 500px){

	#map{
		display: none;
	}
	#accordion{
		padding-top: 70px;
	}
}
.carousel-indicators{
	display:none;
}

.navbar-fixed-top{
	background-color: #fa8b22;
}
.panel-title{
	font-family: 'lobster', "times new roman";
}
#facebook{
	position: absolute;
	padding-left: 48%;
}
.menu {
	padding:0% 10% 10% 10%
}

.titre {
	font-family: 'Lobster', cursive;
	color: #85411D;
	text-shadow: #FF8100 1px 1px, #FF8100 -1px 1px, #FF8100 -1px -1px, #FF8100 1px -1px;
}
.compo{
	opacity: 0.8;
}

.plat{
	font-family: 'Lobster', cursive;

